@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

* {
    margin: 0;                    
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    background-color: #f2f2f2;
    text-rendering: optimizeLegibility;
}

a {
    color: #000;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

.header-wrapper {
    padding: 2em 0;
}

p.large-text {
    font-size: 20px;
}

.nav .nav-link.active {
    font-weight: 700;
}

.nav .nav-link:hover,
.nav .nav-link:active,
.nav .nav-link:focus {
    color: #000;
    font-weight: 700;
}

.nav .nav-link.active:after {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 0 auto;
}

/* Logo */
.logo-wrapper {
    text-align: right;
}

.logo-wrapper .text-logo {
    font-size: 32px;
    font-weight: 700;
}

.logo-wrapper p {
    margin-bottom: 0;
}

.main-wrapper {
    /* padding: 3em 0 0; */
}

.featured-video {
    padding-top: 2em;
}

.featured-video a {
    color: #0075FF;
}

.video-title {
    font-weight: 400;
    font-size: 18px;
    margin-top: 2rem;
}

.video-items {
    margin-top: 2rem;
}

.video-items iframe {
    width: 380px;
    height: 170px;
}

.video-items .video-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    max-height: 145px;
    overflow: hidden;
}

.video-items .video-item {
    height: 145px;
}

.video-items .video-item img {
    height: 100%;
    object-fit: cover;
}

.video-items .video-item:hover:after,
.video-items .video-item:hover span {
    opacity: 1;
}

.video-items .video-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.85);
    width: 100%;
    height: 100%;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    opacity: 0;
}

.video-items .video-item span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
    color: #000000;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
}

.video-frame iframe {
    width: 100%;
}

/* Social media */
.social-media-wrapper {
    text-align: right;
}

.social-media-wrapper a {
    margin-left: 13px;
    font-size: 0;
    
}

.social-media-wrapper a:after {
    content: "";
    width: 25px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.social-media-wrapper a.linkedin:after {
    background-image: url('../images/linkedin.svg');
}

.social-media-wrapper a.twitter:after {
    background-image: url('../images/twitter.svg');
}

.profile-wrapper, .music-wrapper {
    margin-top: 3rem;
}

.profile-wrapper {
    margin-bottom: 2rem;
}

.contact-info {
    margin-top: 2rem;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.contact-info .icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
}

.contact-info .icon.email {
    background-image: url('../images/email-icon.svg');
}

.contact-info .icon.phone {
    background-image: url('../images/phone-icon.svg');
}

.contact-info .icon.location {
    background-image: url('../images/location-pin-icon.svg');
}

.soundcloud-item {
    margin-bottom: 1rem;
}

/* Contact form */
.contact-wrapper {
    background: url('../images/contact-bg.jpg') left center/contain no-repeat;
    height: 100%;
    margin-top: 5rem;
    padding: 3em 0;
    position: relative;
}

#contact-wrapper:after {
    content: "";
    background: #fff;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.contact-form {
    padding-left: 2em;
    position: relative;
    z-index: 1;
}

.contact-form h2 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.contact-form .contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.contact-form .contact-info p {
    flex: 1 0 auto;
}

.contact-form .btn-primary {
    background-color: #000;
    border-color: #000;
}

/* Footer */
.footer-wrapper {
    background-color: #E0E0E0;
    padding: 1em 0;
}

.footer-wrapper a.nav-link {
    padding-left: 0;
}

.copyright {
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}

/* 404 page */
.notfound-wrapper {
    min-height: 100vh;
}


/* Media Query */

@media only screen and (max-width: 992px) {
    .contact-wrapper {
        background-position: -50%;
    }
}

@media only screen and (max-width: 767px) {
    .header-wrapper {
        padding-bottom: 0;
    }

    .header-wrapper .row {
        justify-content: center;
    }

    .logo-wrapper {
        text-align: center;
        order: 1;
    }

    .nav-wrapper {
        text-align: center;
        order: 2;
    }

    .nav {
        justify-content: center;
    }

    .social-media-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .contact-wrapper {
        background: #fff;
    }

    #contact-wrapper:after {
        width: 100%;
    }

    .contact-form {
        padding-left: 0;
    }

    .contact-form .btn-primary {
        width: 100%;
    }

    .profile-wrapper img {
        margin-bottom: 1rem;
    }

    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .nav-link {
        padding: 0.5rem;
    }

    .video-items .video-item {
        max-height: 200px;
    }

    .video-items .video-item {
        height: 200px;
    }

    .contact-form .contact-info {
        flex-flow: column;
    }

    .featured-video h1 {
        font-size: 26px;
    }

    .video-frame iframe {
        max-height: 200px;
    }
}